/* GENERAL  */

body {
	background-image: url(../images/bg_block.jpg);
	font-family: 'Open Sans', sans-serif;
	font-size: 12pt;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	overflow: hidden;
}

p {
	margin-top: 5px;
	margin-bottom: 5px;
}
.wrap-all {
	min-width: 1200px; 
	overflow: auto; /* Scroll appears if actual width is less than min-width */
}

h2 {
	color: #1B1463;
}

/* HEADER */
.header {
	display: block;
	position: fixed;
	z-index: 100;
	border-top: 1px solid lightgrey;
	background-color: #1B1463;
	height: 51px;
	width: 100%;
	box-sizing: border-box;
	padding-right: 10%;
	padding-left: 10%;
}

.nav-item {
	display: block;
	min-width: 100px;
	float: right;
	height: 50px;
	background-color: #1B1463;
	text-align: center;
	font-weight: bold;
	font-size: 11pt;
	color: white;
	line-height: 3.5em;
}

.nav-item:first-child {
	right: 10%;
}

.nav-item:hover {
	color: #1B1463;
	background-color: white;
	color: #1B1463;
	transition: 0.4s;
}

/* FIRST SLIDE */

.first-slide {
	display: block;
	border-bottom: 2px solid grey;
	background-image: url(../images/fs_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 50;
	height: 500px;
	margin-top: 51px;
	padding-right: 10%;
	padding-left: 10%;
	top: 50px;
	border-collapse: collapse;
}

.text-wrap {
	padding-top: 12%;
}

#text-hello {
	color: #1B1463;
	font-size: 16pt;
	font-weight: bold;
	letter-spacing: 1px;
}

#text-name {
	color: #1B1463;
	font-size: 32pt;
	font-weight: bold;
	letter-spacing: 0.5px;
}

#text-position {
	display: inline-block;
	background-color: #1B1463;
	color: white;
	font-size: 16pt;
	padding: 5px 10px 5px 10px;
	margin-top: 7px;
}

.text-wrap span {
	font-size: 14pt;
}

.text-wrap p {
	font-size: 12pt;
	color: white;
}

/* ABOUT ME*/

.about-container {
	display: block;
	box-sizing: border-box;
	height: 100%;
	padding-right: 10%;
	padding-left: 10%;
	margin-bottom: 40px;
	margin-top: 40px;
	border-collapse: collapse;
}

.slide-item {
	display: block;
	height: auto;
	width: 50%;
	min-width: 50%;
	float: left;
	box-sizing: border-box;
}

.slide-item img {
	display: block;
	margin: auto;
	height: 350px;
	padding: 10px 0 40px 20px;
}

.slide-item p {
	padding: 0 15px 10px 0px;
}

.slide-item td {
	border-bottom: 1px solid grey;
	padding: 5px 15px 5px 15px;
	width: 200px;
	height: 25px;
}

td.last {
	border: 0;
}

td.highlighted {
	background-color: #1B1463;
	color: white;
}

.resume-download {
	display: inline-block;
	border: 4px solid #1B1463;
	margin-top: 10px;
	color: #1B1463;
	font-weight: bold;
	padding: 10px 20px 10px 20px;
}

.resume-download:hover {
	background-color: #1B1463;
	color: white;
	transition: 0.4s;
}

/* SKILLS */
.skill-container {
	display: table;
	width: 80%;
	background-color: lightgrey;
	height: 350px;
	border-top: 1px solid grey;
	border-bottom:  1px solid grey;
	padding: 20px 10% 40px 10%;
	margin-bottom: 20px; /* Clear when done!!! */
}

.skill-table td {
	border: 1px solid black;
	height: 100px;
	padding: 0 5px 0 5px;
}

.skill-table li {

	float: left;
}

.skill-image {
	border: 1px solid green;
	width: 90px;
	height: 95px;
}

.skill-text {
	border: 1px solid black;
	width: 254px; /* Why 254px???*/
	height: 95px;
}